# Local Database Password (e.g., your local mysql password)
spring.datasource.password=YOUR_DATABASE_PASSWORD

# JWT Secret Key (Must be at least 256 bits / 32 bytes long)
jwt.secret=YOUR_JWT_SECRET_KEY_MUST_BE_32_BYTES_LONG
